<h1>Edit Bucket List Item</h1>

<form action="/bucket_list_items/<%=@bucket_list_item.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch"></input>
  <input type="textarea" name="content" id="content" value="<%=@bucket_list_item.content%>"></input>
  <input type="submit" value="Edit Item" id="submit"></input>
</form>
