<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/bucket_list_items">Home</a> |
      <a class="nav-item nav-link" href="/bucket_list_items/my_list">MyList</a>
    </div>
  </div>
</nav>

<h3>Edit Bucket List Item</h3>
<br>

<form action="/bucket_list_items/<%=@bucket_list_item.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch"></input>
  <input type="textarea" name="content" id="content" value="<%=@bucket_list_item.content%>"></input>
  <input type="submit" value="Submit Changes" id="submit"></input>
</form>
