<h3>Bucket List Item:</h3>
<br>

<p><%= @bucket_list_item.content %></p>


<form action="/bucket_list_items/<%= @bucket_list_item.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<form action="/bucket_list_items/<%=@bucket_list_item.id%>/edit" method="GET">
  <button type="submit" name="submit" id="edit-click">Edit</button>
</form>

<!-- <a href="/bucket_list_items/<%=@bucket_list_item.id%>/edit">Edit</a> -->
