<h1>Welcome to Bucket Lister!</h1>
<h3>Please login using the form</h3>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" id="submit" value="Login">
</form>

<h5>Or if you don't have an account yet, <a href="/users/signup">Sign Up</a></h5>
