<h1>Welcome, <%= @user.username %></h1>

<% @user.bucket_list_items.each do |bucket_list_item| %>
    <p><%= bucket_list_item.content %></p>
    <a href="/bucket_list_items/<%= bucket_list_item.id %>">View bucket list item</a>
<% end %>
