<h2>Welcome, <%= current_user(session).username %></h2>

<h4>Your Bucket List Items:</h4>
<br><br>

<% BucketItem.all.each do |bucket_item| %>
  <p><%= bucket_item.content %></p>
<% end %>

<a href="/logout">Logout</a>
