<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a class="active signup-login" href="/users/login">Login</a>
  <a class="active signup-login" href="/users/signup">Sign Up</a>
</div>

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2 main-header">
    <h1>Welcome to Bucket Lister!</h1>
    <br>
    <br>
    <p class="homepage-paragraph">Please <a href="/users/login">Login</a> or <a href="/users/signup">Sign Up</a> to continue</p>
  </div>
</div>
